:root {
    --primary-color: white;
    --secondary-color: rgb(217, 217, 217);
    --third-color:gray;
    --background-dark:#212529;
    --text-color:white;
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.game-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .board-container {
    background-color: coral;
    display: flex;
    justify-content: center;
    width: 50%;
} */

.board {
    background-color: var(--primary-color);
    width: 450px;
    height: 540px;
    display: grid;
    grid-template-rows: repeat(5,86px);
    gap:5px;
    padding: 0.8em;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}


.tiles {
    margin: 1px;
    background-color: white;
    color: var(--text-color);
    font-size: 3.5rem;
    font-weight: 500;
    border: 2px solid rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}


h1{
    font-size: 2rem;
}

.input-container {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.input-section {
    width: 450px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    gap:1em;
}

input {
    width: 70%;
    padding: 0 0.5em;
    font-size: 3em;
    border: none;
    background-color:var(--secondary-color);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

input:focus{
    background-color: white;
}

button {
/* margin: 1em;
padding:1em; */
border: none;
font-size: 1.18rem;
border-radius: 5px;
width: 80px;
height: 80px;
background-color: var(--secondary-color);
color: black;
font-weight: 500;
}

.bi {
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--third-color);
}
